<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean : 객체 생성, class : 객체 타입, name : 변수명 -->
	<bean name="articleDao" class="com.study.spring.chapter1.dao.MySQLArticleDao">
	</bean>
	
	<bean name="writeArticleService" class="com.study.spring.chapter1.service.WriteArticleServiceImpl">
		
		<!-- 생성자 Parameter -->
		<constructor-arg>
			<ref bean="articleDao"/>
		</constructor-arg>
	</bean>


</beans>
